## This notebook reads the worker output from Amazon Mechanical Turk, processes it and calculates: Inter Annotator Agreement Score ##

In [61]:
import pandas as pd
import nltk
from nltk.metrics.agreement import AnnotationTask

In [84]:
amt_annotations = pd.read_csv("../../data/Combined_Batch.csv", usecols=['WorkerId','Answer.“Activity”','RejectionTime'])

amt_annotations = amt_annotations.query('RejectionTime.isnull()')
amt_annotations

           WorkerId RejectionTime     Answer.“Activity”
0    A24JKHC4HTY6CD           NaN                  swim
1    A3OVE49GVEJT8B           NaN              swimming
2     A4D99Y82KOLC8           NaN            rope swing
3    A1BYS45FAD0HWD           NaN    Jet Skiing, riding
4    A24JKHC4HTY6CD           NaN     /RIDING, swimming
..              ...           ...                   ...
901   AKSLU0C30G3JT           NaN         /kiteboarding
902   A5TRIFYKKB8KG           NaN          kiteboarding
904  A2F36YYI5U6AF4           NaN           guided tour
905  A2MTOSH583K270           NaN                 /RIDE
906  A1PRRDIHIHTHJV           NaN  /guided tour, sample

[801 rows x 3 columns]

In [85]:
from nltk.stem import WordNetLemmatizer
from nltk import word_tokenize
lemmatizer= WordNetLemmatizer()

annotations_dict = amt_annotations.to_dict()
worker_id_list = list(annotations_dict['WorkerId'].values())
activity_list = list(annotations_dict['Answer.“Activity”'].values())
#activity_list = [ i.strip('/').lower().replace(" ","") for i in activity_list ]

activity_list = [ i.strip('/').lower() for i in activity_list ]

worker_annotation = list(zip(worker_id_list,activity_list))
worker_annotation
triples = []
count = 0
id =0
item_list = []


for index,item in enumerate(worker_annotation):
    count +=1
    if index % 3 == 0:
        count = 0
    if index % 3 == 0:
        id +=1
        
    item_list = word_tokenize(item[1])
    
    for each in range(len(item_list)):
        if item_list[each] != ",":
            word = lemmatizer.lemmatize(item_list[each].strip(), 'v')
            triples.append((count,id,word))
    
# for triple in triples:
#     print(triple)
    
annotation_score = AnnotationTask(triples).pi()
print('\n')
print("Annotation Score:",annotation_score)

Annotation Score: 0.26142845648150775

In [86]:
annotation_score = AnnotationTask(triples).avg_Ao()
print('\n')
print("Annotation Score:",annotation_score)

Annotation Score: 0.47066167290886396